<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="left">
            <img src="images/logo.png" alt="logo">
            <span class="title">zoom clone</span>
        </div>
        <div class="right">
            <div class="btn" id="new-meet">Démarrer une réunion</div>
        </div>
    </nav>
    <section class="content">
        <div class="left">
            <div class="title">Appels vidéo et visioconférences pour tous</div>
            <p>Zoom-Clone est un service de visioconférences et d'appels vidéo sécurisés et de haute qualité pour tous les utilisateurs, sur n'importe quel appareil.</p>
        </div>
        <div class="right">
            <img src="images/call.png" alt="call">
        </div>
    </section>
    <!-- <div class="participate">
        <input id="link" type="text">
        <div class="btn" id="join"> rejoindre </div>
    </div> -->
    <script src="home.js"></script>
</body>
</html>