body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav > .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > .left > img{
    height: 50px;
    width: 50px;
    margin: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(45, 95, 45);
}

.btn {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(87, 134, 87);
    color: white;
    margin: 10px;
    cursor: pointer;
}

input{
    margin-top: 100px;
    height: 30px;
    width: 20vw;
}
